<div class="carousel-container">
  <div class="carousel-slide">
    <a href="https://github.com/seuusuario/projeto1" target="_blank">
      <img src="/img/Captura de tela 2025-05-19 171416.png" alt="Projeto 1" />
    </a>
    <a href="https://github.com/seuusuario/projeto2" target="_blank">
      <img src="/img/Captura de tela 2025-05-19 171355.png" alt="Projeto 2" />
    </a>
    <a href="https://github.com/seuusuario/projeto3" target="_blank">
      <img src="/img/Captura de tela 2025-05-19 171355.png" alt="Projeto 3" />
    </a>
  </div>

  <button class="prev">&#10094;</button>
  <button class="next">&#10095;</button>

  <div class="dots">
    <span class="dot" data-index="0"></span>
    <span class="dot" data-index="1"></span>
    <span class="dot" data-index="2"></span>
  </div>
</div>
